<div class="challenger_calc">
  <div class="challenger_calc__container">
    <div class="challenger_calc__container__history {{ changesPosition.view ? 'position' : '' }}" (keyup.enter)='enter(true)'>
      <form [formGroup]="formGroup" class="calc" >
          <input type="text" formControlName='input'  (keypress)='changes($event)'  >
          <button type="button" *ngFor="let item of tempBtnOperations" (click)='clickBtn(item, $event)'>{{ item }}</button>
      </form>
      <div class="history {{ changesPosition.history ? 'left' : '' }}">
        <p class="history__label">
          History
        </p>
        <div class="history__content">
          <div class="history__content__item" *ngFor="let item of data" (click)='selectItem(item)'>
            <p class="action">
              {{ item.text }}
            </p>
            <p class="total">
              {{ item.total }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="challenger_calc__container__actions">
      <button (click)='changesPosition.view= !changesPosition.view'>Changes position</button>
      <button (click)='dataRandom()'>Random NumPad</button>
      <button (click)='changesPosition.history = !changesPosition.history'>RTL History</button>
    </div>
  </div>
</div>
